{
    "printWidth": 80,                // Limit line length to 80 characters
    "tabWidth": 2,                   // Set tab width to 2 spaces
    "useTabs": false,                // Use spaces instead of tabs
    "semi": true,                    // Add semicolons at the end of statements
    "singleQuote": true,             // Use single quotes instead of double quotes
    "trailingComma": "es5",          // Add trailing commas where valid in ES5 (objects, arrays, etc.)
    "bracketSpacing": true,          // Add spaces between brackets in object literals
    "jsxBracketSameLine": false,     // Put the closing bracket of JSX elements on a new line
    "arrowParens": "always",         // Always include parentheses around arrow function arguments
    "endOfLine": "lf"                // Use Line Feed only (\n) for newlines
  }
  
